@font-face {
    font-family: 'San Francisco Display';
    src: url('SanFranciscoDisplay-Medium.woff2') format('woff2'),
        url('SanFranciscoDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

