@font-face {
    font-family: 'San Francisco Display';
    src: url('SanFranciscoDisplay-Regular.woff2') format('woff2'),
        url('SanFranciscoDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

